/* File: TechniquesPopup.css */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(163,0,29,1) 33%, rgba(209,0,25,1) 66%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    float: right;
}

.popup-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-row {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input-row label {
    width: 150px; /* Consistent label width */
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    font-size: 17px;
    padding-right: 20px; /* Space between label and input */
}

.input-row select,
.input-row input[type="text"] {
    flex: 0 1 70%; /* Equal space allocation */
    margin-top: 20px;
    padding: 12px;
    background-color: #252525;
    color: #e4e4e4;
    border-radius: 15px; /* Consistent border radius */
    border: 1px solid #444;
    margin-left: 10px;
    font-family: 'Outfit', sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    width: 100%; /* Ensures consistent width */
}

.input-row select {
    padding: 12px; /* Match the padding of the text input fields */
    text-align: left;
}

.column {
    flex: 1;
    max-width: 500px; /* Set max-width to keep layout consistent */
}

.popup-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #666666;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.popup-button:hover {
    background-color: #1a1919;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(86, 86, 198, 0.3);
}

.technique-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.technique-item {
    background: #444;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technique-buttons {
    display: flex;
    gap: 10px;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.edit-button {
    background-color: #007bff;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}
